.transactionhistory {
  padding-top: 20px;
  margin: 0 auto;
}
.title {
  background-color: rgb(115, 115, 216);
}
.titlename {
  font-size: 18px;
  padding: 10px 60px;
  color: aliceblue;
}
.itemname {
  text-align: center;
}
